/* @
@tailwind components;
@tailwind utilities;tailwind base; */
@import "tailwindcss";
html, body {
  overflow-x: hidden;
}
/* Pour Safari et WebKit */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* * {
  outline: 1px solid red !important;
} */
